Videos/Python(Udemy)/10. Create GUI Apps In Python Using Tkinter/1. Tkinter  Hello world program.mp4
Videos/Python(Udemy)/10. Create GUI Apps In Python Using Tkinter/2. Tkinter Using frames.mp4
Videos/Python(Udemy)/10. Create GUI Apps In Python Using Tkinter/3. Tkinter Grid layout.mp4
Videos/Python(Udemy)/10. Create GUI Apps In Python Using Tkinter/4. Tkinter Self adjusting widgets.mp4
Videos/Python(Udemy)/10. Create GUI Apps In Python Using Tkinter/5. Tkinter Handling button clicks.mp4
Videos/Python(Udemy)/10. Create GUI Apps In Python Using Tkinter/6. Tkinter Using classes.mp4
Videos/Python(Udemy)/10. Create GUI Apps In Python Using Tkinter/7. Tkinter Using drop downs.mp4
Videos/Python(Udemy)/10. Create GUI Apps In Python Using Tkinter/8. Tkinter Toolbar.mp4
Videos/Python(Udemy)/10. Create GUI Apps In Python Using Tkinter/9. Tkinter Making Status Bar.mp4
Videos/Python(Udemy)/10. Create GUI Apps In Python Using Tkinter/10. Tkinter Message box.mp4
Videos/Python(Udemy)/10. Create GUI Apps In Python Using Tkinter/11. Tkinter Drawing.mp4
Videos/Python(Udemy)/11. Building Calculator App Using Tkinter/1. Building Calculator App Part 1.mp4
Videos/Python(Udemy)/11. Building Calculator App Using Tkinter/2. Building Calculator App Part 2.mp4
Videos/Python(Udemy)/11. Building Calculator App Using Tkinter/3. Building Calculator App Part 3.mp4
Videos/Python(Udemy)/11. Building Calculator App Using Tkinter/4. Building Calculator App Part 4.mp4
Videos/Python(Udemy)/11. Building Calculator App Using Tkinter/5. Building Calculator app Source Code.html
Videos/Python(Udemy)/12. Data Analysis Using Python/1. Introduction to Data Analysis Using Python.mp4
Videos/Python(Udemy)/12. Data Analysis Using Python/2. Installing Tools For Data Analysis.mp4
Videos/Python(Udemy)/12. Data Analysis Using Python/3. Introduction to Pandas & Series.mp4
Videos/Python(Udemy)/12. Data Analysis Using Python/4. Converting Dictionaries to Series.mp4
Videos/Python(Udemy)/12. Data Analysis Using Python/5. Introduction to Data Frames.mp4
Videos/Python(Udemy)/12. Data Analysis Using Python/6. Changing Column Sequence.mp4
Videos/Python(Udemy)/12. Data Analysis Using Python/7. Changing Columns & Transposing Dataframe.mp4
Videos/Python(Udemy)/12. Data Analysis Using Python/8. Reindexing Series & DataFrames.mp4
Videos/Python(Udemy)/12. Data Analysis Using Python/9. Deleting Rows & Coulumns.mp4
Videos/Python(Udemy)/12. Data Analysis Using Python/10. Arithmetic operations on dataframe and series.mp4
Videos/Python(Udemy)/12. Data Analysis Using Python/11. Arithmetic operations in between dataframe and series.mp4
Videos/Python(Udemy)/12. Data Analysis Using Python/12. Sorting series and dataframes.mp4
Videos/Python(Udemy)/12. Data Analysis Using Python/13. Sorting according to values.mp4
Videos/Python(Udemy)/12. Data Analysis Using Python/14. Handling duplicate values.mp4
Videos/Python(Udemy)/12. Data Analysis Using Python/15. Calculating sum, max & min values.mp4
Videos/Python(Udemy)/12. Data Analysis Using Python/16. Dropping nan values.mp4
Videos/Python(Udemy)/12. Data Analysis Using Python/17. Loading data from a file.mp4
Videos/Python(Udemy)/12. Data Analysis Using Python/18. Analyzing file data.mp4
Videos/Python(Udemy)/12. Data Analysis Using Python/19. Creating Numpy Array.mp4
Videos/Python(Udemy)/12. Data Analysis Using Python/20. 19 Another way to create an array.mp4
Videos/Python(Udemy)/12. Data Analysis Using Python/21. Logspace & Linspace.mp4
Videos/Python(Udemy)/12. Data Analysis Using Python/22. Slicing a Numpy Array.mp4
Videos/Python(Udemy)/12. Data Analysis Using Python/23. Advanced indexing and slicing techniques.mp4
Videos/Python(Udemy)/12. Data Analysis Using Python/24. Broadcasting.mp4
Videos/Python(Udemy)/12. Data Analysis Using Python/25. Iterating using nditer.mp4
Videos/Python(Udemy)/12. Data Analysis Using Python/26. Plotting data using Matplotlib.mp4
Videos/Python(Udemy)/13. Make Web Applications In Python Using Django/1. Django Tutorial 1 Installing Django on Windows.mp4
Videos/Python(Udemy)/13. Make Web Applications In Python Using Django/2. Installing Django For MAC Users.html
Videos/Python(Udemy)/13. Make Web Applications In Python Using Django/3. Django tutorial 2 Creating Our First Django Project.mp4
Videos/Python(Udemy)/13. Make Web Applications In Python Using Django/4. Django tutorial 3 Creating Our Own App.mp4
Videos/Python(Udemy)/13. Make Web Applications In Python Using Django/5. Django tutorial 4 Overview Of an App in Django.mp4
Videos/Python(Udemy)/13. Make Web Applications In Python Using Django/6. Django tutorial 5 Creating Our Own Views in Django.mp4
Videos/Python(Udemy)/13. Make Web Applications In Python Using Django/7. Django tutorial 6 Applying Migrations.mp4
Videos/Python(Udemy)/13. Make Web Applications In Python Using Django/8. Django tutorial 7 Creating Books Table in Django.mp4
Videos/Python(Udemy)/13. Make Web Applications In Python Using Django/9. Django tutorial 8 Final Steps in Creating Table.mp4
Videos/Python(Udemy)/13. Make Web Applications In Python Using Django/10. Django tutorial 9 Adding Data to the Database Tables.mp4
Videos/Python(Udemy)/13. Make Web Applications In Python Using Django/11. Django tutorial 10 Filtering the Results.mp4
Videos/Python(Udemy)/13. Make Web Applications In Python Using Django/12. Django tutorial 11 Admin Pannel in Django.mp4
Videos/Python(Udemy)/13. Make Web Applications In Python Using Django/13. Django tutorial 12 Creating Another View in Django.mp4
Videos/Python(Udemy)/13. Make Web Applications In Python Using Django/14. Django tutorial 13 Connecting to the Database.mp4
Videos/Python(Udemy)/13. Make Web Applications In Python Using Django/15. Django tutorial 14 Creating Templates.mp4
Videos/Python(Udemy)/13. Make Web Applications In Python Using Django/16. Django tutorial 15 Rendering Templates.mp4
Videos/Python(Udemy)/13. Make Web Applications In Python Using Django/17. Django tutorial 16 Raising a 404 Error.mp4
Videos/Python(Udemy)/13. Make Web Applications In Python Using Django/18. Django tutorial 17 Designing The Detail View.mp4
Videos/Python(Udemy)/13. Make Web Applications In Python Using Django/19. Django tutorial 18 Removing The Hardcoded Urls.mp4
Videos/Python(Udemy)/13. Make Web Applications In Python Using Django/20. Django tutorial 19 Namespaces in Django.mp4
Videos/Python(Udemy)/13. Make Web Applications In Python Using Django/21. Django tutorial 20 Using Static Files In Django.mp4
Videos/Python(Udemy)/13. Make Web Applications In Python Using Django/22. Django tutorial 21 Creating Our Navigation Bar.mp4
Videos/Python(Udemy)/13. Make Web Applications In Python Using Django/23. Django tutorial 22 Navigation Bar Touchup.mp4
Videos/Python(Udemy)/13. Make Web Applications In Python Using Django/23.1 HTML files used for the project.txt.txt
Videos/Python(Udemy)/13. Make Web Applications In Python Using Django/24. Django tutorial 23 Using Base Templates.mp4
Videos/Python(Udemy)/13. Make Web Applications In Python Using Django/25. Django tutorial 24 Generic Views In Django.mp4
Videos/Python(Udemy)/13. Make Web Applications In Python Using Django/26. Django tutorial 25 Design Touchup.mp4
Videos/Python(Udemy)/13. Make Web Applications In Python Using Django/27. Django tutorial 26 Form To Add Books.mp4
Videos/Python(Udemy)/13. Make Web Applications In Python Using Django/28. Django tutorial 27 Form part -2.mp4
Videos/Python(Udemy)/13. Make Web Applications In Python Using Django/29. Final Source Code For Django.html
Videos/Python(Udemy)/14. Make Web Applications With Python Using Django 2.0/1. Using virtual environment.mp4
Videos/Python(Udemy)/14. Make Web Applications With Python Using Django 2.0/2. Django 2 Lecture 2 Creating An App.mp4
Videos/Python(Udemy)/14. Make Web Applications With Python Using Django 2.0/3. Django 2 Lecture 3 Overview of an app.mp4
Videos/Python(Udemy)/14. Make Web Applications With Python Using Django 2.0/4. Django 2 Lecture 4 Creating a View.mp4
Videos/Python(Udemy)/14. Make Web Applications With Python Using Django 2.0/5. Django 2 Lecture 5 Applying Migrations.mp4
Videos/Python(Udemy)/14. Make Web Applications With Python Using Django 2.0/6. Django 2 Lecture 6 Creating Models.mp4
Videos/Python(Udemy)/14. Make Web Applications With Python Using Django 2.0/7. Django 2 Lecture 7 Creating Database Tables.mp4
Videos/Python(Udemy)/14. Make Web Applications With Python Using Django 2.0/8. Django 2 Lecture 8 Adding Data To Database.mp4
Videos/Python(Udemy)/14. Make Web Applications With Python Using Django 2.0/9. Django 2 Lecture 9 Filtering Results.mp4
Videos/Python(Udemy)/14. Make Web Applications With Python Using Django 2.0/10. Django 2 Lecture 10 Creating A Super User.mp4
Videos/Python(Udemy)/14. Make Web Applications With Python Using Django 2.0/11. Django 2 Lecture 11 Creating Another View.mp4
Videos/Python(Udemy)/14. Make Web Applications With Python Using Django 2.0/12. Django 2 Lecture 12 Connecting To The Database.mp4
Videos/Python(Udemy)/14. Make Web Applications With Python Using Django 2.0/13. Django 2 Lecture 13 Creating Templates.mp4
Videos/Python(Udemy)/14. Make Web Applications With Python Using Django 2.0/14. Django 2 Lecture 14 Using Render.mp4
Videos/Python(Udemy)/14. Make Web Applications With Python Using Django 2.0/15. Django 2 Lecture 15 Raising 404 Error.mp4
Videos/Python(Udemy)/14. Make Web Applications With Python Using Django 2.0/16. Django 2 Lecture 16 Designing The Detail View.mp4
Videos/Python(Udemy)/14. Make Web Applications With Python Using Django 2.0/17. Django 2 Lecture 17 Removing Hard Coded URLs.mp4
Videos/Python(Udemy)/14. Make Web Applications With Python Using Django 2.0/18. Django 2 Lecture 18 Using Namespaces.mp4
Videos/Python(Udemy)/14. Make Web Applications With Python Using Django 2.0/19. Django 2 Lecture 19 Using Static Files.mp4
Videos/Python(Udemy)/14. Make Web Applications With Python Using Django 2.0/20. Django 2 Lecture 20 Designing Navbar.mp4
Videos/Python(Udemy)/14. Make Web Applications With Python Using Django 2.0/21. Django 2 Lecture 21 Navbar Touchup.mp4
Videos/Python(Udemy)/15. Make Web Applications in Python Using Flask/1. Flask Tutorial 1 Creating Directory Structure.mp4
Videos/Python(Udemy)/15. Make Web Applications in Python Using Flask/2. Flask Tutorial 2 Hello world.mp4
Videos/Python(Udemy)/15. Make Web Applications in Python Using Flask/3. Flask Tutorial 3 Routing.mp4
Videos/Python(Udemy)/15. Make Web Applications in Python Using Flask/4. Flask Tutorial 4 Variables.mp4
Videos/Python(Udemy)/15. Make Web Applications in Python Using Flask/5. Flask Tutorial 5 Dynamic Urls.mp4
Videos/Python(Udemy)/15. Make Web Applications in Python Using Flask/6. Flask Tutorial 6 Passing Data To The Server.mp4
Videos/Python(Udemy)/15. Make Web Applications in Python Using Flask/7. Flask Tutorial 7 Templates.mp4
Videos/Python(Udemy)/15. Make Web Applications in Python Using Flask/8. Flask Tutorial 8 Templates Passing Data.mp4
Videos/Python(Udemy)/15. Make Web Applications in Python Using Flask/9. Flask Tutorial 9 Using Templates.mp4
Videos/Python(Udemy)/15. Make Web Applications in Python Using Flask/10. Flask Tutorial 10 Passing Form Data To Templates.mp4
Videos/Python(Udemy)/15. Make Web Applications in Python Using Flask/11. Flask Tutorial 11 Using Cookies.mp4
Videos/Python(Udemy)/16. Building REST API's with Python and Django/1. Introduction to API.mp4
Videos/Python(Udemy)/16. Building REST API's with Python and Django/2. Building a basic REST API using Django REST Framework.mp4
Videos/Python(Udemy)/16. Building REST API's with Python and Django/3. Creating API Endpoints.mp4
Videos/Python(Udemy)/16. Building REST API's with Python and Django/4. Adding Image Field.mp4
Videos/Python(Udemy)/16. Building REST API's with Python and Django/5. Filtering.mp4
Videos/Python(Udemy)/16. Building REST API's with Python and Django/6. Search functionality.mp4
Videos/Python(Udemy)/16. Building REST API's with Python and Django/7. API Authentication.mp4
Videos/Python(Udemy)/17. Learn How To Crawl Websites Using Python  Web Crawling/1. Python Web Crawler Part -1.mp4
Videos/Python(Udemy)/17. Learn How To Crawl Websites Using Python  Web Crawling/2. Python Web Crawler Part -2.mp4
Videos/Python(Udemy)/17. Learn How To Crawl Websites Using Python  Web Crawling/3. Python Web Crawler Part -3.mp4
Videos/Python(Udemy)/17. Learn How To Crawl Websites Using Python  Web Crawling/4. Python Web Crawler Part -4.mp4
Videos/Python(Udemy)/17. Learn How To Crawl Websites Using Python  Web Crawling/5. Python Web Crawler Part -5.mp4
Videos/Python(Udemy)/17. Learn How To Crawl Websites Using Python  Web Crawling/6. Python Web Crawler Part -6.mp4
Videos/Python(Udemy)/17. Learn How To Crawl Websites Using Python  Web Crawling/7. Python Web Crawler Part -7.mp4
Videos/Python(Udemy)/17. Learn How To Crawl Websites Using Python  Web Crawling/8. Python Web Crawler Part -8.mp4
Videos/Python(Udemy)/17. Learn How To Crawl Websites Using Python  Web Crawling/9. Python Web Crawler Part -9.mp4
Videos/Python(Udemy)/17. Learn How To Crawl Websites Using Python  Web Crawling/10. Python Web Crawler Part -10.mp4
Videos/Python(Udemy)/17. Learn How To Crawl Websites Using Python  Web Crawling/11. Python Web Crawler Part -11.mp4
Videos/Python(Udemy)/17. Learn How To Crawl Websites Using Python  Web Crawling/12. Python Web Crawler Part -12.mp4
Videos/Python(Udemy)/17. Learn How To Crawl Websites Using Python  Web Crawling/13. Python Web Crawler Part -13.mp4
Videos/Python(Udemy)/17. Learn How To Crawl Websites Using Python  Web Crawling/14. Python Web Crawler Part -14.mp4
Videos/Python(Udemy)/17. Learn How To Crawl Websites Using Python  Web Crawling/15. Python Web Crawler Part -15.mp4
Videos/Python(Udemy)/17. Learn How To Crawl Websites Using Python  Web Crawling/16. Python Web Crawler Part -16.mp4
Videos/Python(Udemy)/17. Learn How To Crawl Websites Using Python  Web Crawling/17. Python Web Crawler Part -17.mp4
Videos/Python(Udemy)/17. Learn How To Crawl Websites Using Python  Web Crawling/18. Python Web Crawler Part -18.mp4
Videos/Python(Udemy)/17. Learn How To Crawl Websites Using Python  Web Crawling/19. Python Web Crawler Part -19.mp4
Videos/Python(Udemy)/17. Learn How To Crawl Websites Using Python  Web Crawling/20. Web Crawler Source Code.html
Videos/Python(Udemy)/18. Complex Coding Challenges/1. Introduction.html
Videos/Python(Udemy)/18. Complex Coding Challenges/2. Complex Python Challenges.html
Videos/Python(Udemy)/19. Automation With Selenium Web Driver and Python/1. Introduction to Selenium.mp4
Videos/Python(Udemy)/19. Automation With Selenium Web Driver and Python/2. Installing Selenium.mp4
Videos/Python(Udemy)/19. Automation With Selenium Web Driver and Python/3. Opening a URL.mp4
Videos/Python(Udemy)/19. Automation With Selenium Web Driver and Python/4. Automating Google Search.mp4
Videos/Python(Udemy)/19. Automation With Selenium Web Driver and Python/5. Find Elements By XPATH.mp4
Videos/Python(Udemy)/19. Automation With Selenium Web Driver and Python/6. Clicking Links.mp4
Videos/Python(Udemy)/19. Automation With Selenium Web Driver and Python/7. Refreshing a Webpage.mp4
Videos/Python(Udemy)/19. Automation With Selenium Web Driver and Python/8. Using Forward and Backward Navigation Buttons.mp4
Videos/Python(Udemy)/19. Automation With Selenium Web Driver and Python/9. Scrolling and Getting the Current URL.mp4
Videos/Python(Udemy)/20. Building A Facebook Auto Poster/1. Building A Facebook Auto Poster.mp4
Videos/Python(Udemy)/21. Python Best Practices Writing Clean & Efficient Python Code/1. Writing Clean Python Code Best Practices part 1.mp4
Videos/Python(Udemy)/21. Python Best Practices Writing Clean & Efficient Python Code/2. Writing Clean Python Code Best Practices part 2.mp4
Videos/Python(Udemy)/21. Python Best Practices Writing Clean & Efficient Python Code/3. Writing Clean Python Code Best Practices part 3.mp4
Videos/Python(Udemy)/21. Python Best Practices Writing Clean & Efficient Python Code/4. Writing Clean Python Code Best Practices part 4.mp4
Videos/Python(Udemy)/21. Python Best Practices Writing Clean & Efficient Python Code/5. Writing Clean Python Code Best Practices part 5.mp4
Videos/Python(Udemy)/22. Miscellaneous Content/1. Updating entries in Django with UpdateView.mp4
Videos/Python(Udemy)/22. Miscellaneous Content/2. Bootstrap For Django Introduction.html
Videos/Python(Udemy)/22. Miscellaneous Content/3. Bootstrap part 1 Introduction To Bootstrap.mp4
Videos/Python(Udemy)/22. Miscellaneous Content/4. Bootstrap Part 2 Adding Bootstrap To Our Site.mp4
Videos/Python(Udemy)/22. Miscellaneous Content/5. Bootstrap Part 3 Bootstrap Grid System.mp4
Videos/Python(Udemy)/22. Miscellaneous Content/6. Bootstrap Part 4 Grid Classes Part 1.mp4
Videos/Python(Udemy)/22. Miscellaneous Content/7. Bootstrap Part 5 Grid Classes Part 2.mp4
Videos/Python(Udemy)/22. Miscellaneous Content/8. Bootstrap Part 6 Grid Column Offset.mp4
Videos/Python(Udemy)/22. Miscellaneous Content/9. Bootstrap Part 7 Making Images Responsive.mp4
Videos/Python(Udemy)/22. Miscellaneous Content/10. Bootstrap Part 8 Nesting of Rows & Columns.mp4
Videos/Python(Udemy)/23. Regular Expressions Revisited/1. Introduction to Regular Expressions & Raw Strings.mp4
Videos/Python(Udemy)/23. Regular Expressions Revisited/2. Search & Match Methods.mp4
Videos/Python(Udemy)/23. Regular Expressions Revisited/3. Introduction To Meta Characters.mp4
Videos/Python(Udemy)/23. Regular Expressions Revisited/4. Star Meta Character.mp4
Videos/Python(Udemy)/23. Regular Expressions Revisited/5. Introduction To Plus Meta Character.mp4
Videos/Python(Udemy)/23. Regular Expressions Revisited/6. Plus Meta Character Example.mp4
Videos/Python(Udemy)/23. Regular Expressions Revisited/7. Introduction To Curly Braces.mp4
Videos/Python(Udemy)/23. Regular Expressions Revisited/8. Curly Braces Example.mp4
Videos/Python(Udemy)/23. Regular Expressions Revisited/9. Introduction To Wildcard.mp4
Videos/Python(Udemy)/23. Regular Expressions Revisited/10. Wildcard Example.mp4
Videos/Python(Udemy)/23. Regular Expressions Revisited/11. Optional Meta Character.mp4
Videos/Python(Udemy)/23. Regular Expressions Revisited/12. Caret Meta Character.mp4
Videos/Python(Udemy)/23. Regular Expressions Revisited/13. Character Classes Part 1.mp4
Videos/Python(Udemy)/23. Regular Expressions Revisited/14. Character Classes Part 2.mp4
Videos/Python(Udemy)/24. Conclusion/1. Conclusion.mp4
Videos/Python_From_Scratch/14_Videos/1. Python 3 Regex - match() & search().mp4
Videos/Python_From_Scratch/14_Videos/2. Python 3 Regex - findall() & sub().mp4
Videos/Python_From_Scratch/15_Videos/1. Python 3 Classes - Objects.mp4
Videos/Python_From_Scratch/15_Videos/2. Python 3 Classes - Inheritance.mp4
Videos/Python_From_Scratch/16_Videos/1. Python 3 - List  Set  Dictionary Comprehensions.mp4
Videos/Python_From_Scratch/16_Videos/5. Python 3 - Lambda Functions.mp4
Videos/Python_From_Scratch/16_Videos/9. Python 3 - map() and filter().mp4
Videos/Python_From_Scratch/16_Videos/13. Python 3 - Iterators and Generators.mp4
Videos/Python_From_Scratch/16_Videos/17. Python 3 - Itertools.mp4
Videos/Python_From_Scratch/16_Videos/21. Python 3 - Decorators.mp4
Videos/Python_From_Scratch/16_Videos/25. Python 3 - Threading Basics.mp4
Videos/Python_From_Scratch/16_Videos/27. Python 3 - Coding Best Practices.mp4
Videos/Python_From_Scratch/16_Videos/29. You're Halfway There!.mp4
Videos/Python_From_Scratch/18_Videos/1. Planning the Application.mp4
Videos/Python_From_Scratch/18_Videos/2. Designing and Building the User Menu.mp4
Videos/Python_From_Scratch/18_Videos/3. Implementing Addition, Subtraction, Multiplication, Division.mp4
Videos/Python_From_Scratch/18_Videos/4. Implementing Modulo, Raising to a Power, Square Root, Logarithm.mp4
Videos/Python_From_Scratch/18_Videos/5. Implementing Trigonometric Functions sin, cos, tan.mp4
Videos/Python_From_Scratch/18_Videos/6. Testing Each Function of the Application.mp4
Videos/Python_From_Scratch/18_Videos/8. Creating Executable Files (.exe) from Python Scripts (.py).mp4
Videos/Python_From_Scratch/19_Videos/1. Setting Up the Working Environment.mp4
Videos/Python_From_Scratch/19_Videos/2. Loading an Excel Workbook In Python and CreatingRemoving Sheets.mp4
Videos/Python_From_Scratch/19_Videos/4. Getting General Information About a Sheet.mp4
Videos/Python_From_Scratch/19_Videos/6. Working with Sheet Cells Using Python.mp4
Videos/Python_From_Scratch/19_Videos/8. Working with Cell Styles Using Python.mp4
Videos/Python_From_Scratch/19_Videos/11. APPLICATION - Migrating Records from a Text File to an Excel Workbook.mp4
Videos/Python_From_Scratch/20_Videos/1. Installing the Database Server Software.mp4
Videos/Python_From_Scratch/20_Videos/3. Installing the Necessary Python Module.mp4
Videos/Python_From_Scratch/20_Videos/4. Creating a New Database, Schema and User.mp4
Videos/Python_From_Scratch/20_Videos/6. Connecting Python to the Database.mp4
Videos/Python_From_Scratch/20_Videos/8. Creating Database Tables with Python.mp4
Videos/Python_From_Scratch/20_Videos/10. Inserting Records Into a Table with Python.mp4
Videos/Python_From_Scratch/20_Videos/12. Updating Records Into a Table with Python.mp4
Videos/Python_From_Scratch/20_Videos/14. Deleting Records From a Table with Python.mp4
Videos/Python_From_Scratch/20_Videos/16. Querying the Database with Python.mp4
Videos/Python_From_Scratch/20_Videos/18. Fetching Information From the Database with Python.mp4
Videos/Python_From_Scratch/20_Videos/20. Committing and Rolling Back Transactions with Python.mp4
Videos/Python_From_Scratch/20_Videos/24. APPLICATION - Migrating Records from a Text File to the Database.mp4
Videos/Python_From_Scratch/21_Videos/1. Network Setup Overview.mp4
Videos/Python_From_Scratch/21_Videos/2. Installing the Virtualization Software.mp4
Videos/Python_From_Scratch/21_Videos/4. Downloading & Installing the Network Device VM.mp4
Videos/Python_From_Scratch/21_Videos/6. Importing the VM & Tweaking the VM Settings.mp4
Videos/Python_From_Scratch/21_Videos/7. Connecting the Local PC to the Devices in Windows.mp4
Videos/Python_From_Scratch/21_Videos/9. Checking the SSH Configuration and Testing the Connectivity.mp4
Videos/Python_From_Scratch/21_Videos/12. Planning the Application.mp4
Videos/Python_From_Scratch/21_Videos/13. Checking IP File Validity.mp4
Videos/Python_From_Scratch/21_Videos/15. Checking IP Address Validity.mp4
Videos/Python_From_Scratch/21_Videos/17. Checking IP Address Reachability.mp4
Videos/Python_From_Scratch/21_Videos/20. Checking UsernamePassword File Validity.mp4
Videos/Python_From_Scratch/21_Videos/22. Checking Command File Validity.mp4
Videos/Python_From_Scratch/21_Videos/24. Establishing the SSH Connection.mp4
Videos/Python_From_Scratch/21_Videos/26. Enabling Simultaneous SSH Connections.mp4
Videos/Python_From_Scratch/21_Videos/28. APPLICATION - Putting Everything Together.mp4
Videos/Python_From_Scratch/21_Videos/30. Reading Device Configuration.mp4
Videos/Python_From_Scratch/21_Videos/31. Extracting Network Parameters.mp4
Videos/Python_From_Scratch/21_Videos/32. Configuring Multiple Devices Simultaneously.mp4
Videos/Python_From_Scratch/22_Videos/1. Running Python Code - The Next Level IPython and Jupyter Notebook.mp4
Videos/Python_From_Scratch/22_Videos/3. Introduction to Pandas - Basic Operations.mp4
Videos/Python_From_Scratch/22_Videos/5. Handling Files with Pandas - TXT, CSV, JSON, XLSX.mp4
Videos/Python_From_Scratch/22_Videos/7. Reading HTML Content from URLs and HTML Files with Pandas.mp4
Videos/Python_From_Scratch/22_Videos/9. Indexing and Slicing Tables with Pandas.mp4
Videos/Python_From_Scratch/22_Videos/11. Adding, Updating, Deleting Table Rows and Columns.mp4
Videos/Python_From_Scratch/22_Videos/13. APPLICATION - Reading and Writing Data in PostgreSQL Databases Using Pandas.mp4
Videos/Python_From_Scratch/23_Videos/1. Introduction to Bokeh.mp4
Videos/Python_From_Scratch/23_Videos/3. Creating a Basic Line Plot Based on Python Lists.mp4
Videos/Python_From_Scratch/23_Videos/5. Creating a Bar Plot Based on Excel Data.mp4
Videos/Python_From_Scratch/23_Videos/7. Creating a Pie Chart Based on CSV Data.mp4
Videos/Python_From_Scratch/23_Videos/9. Plotting Multiple Stock Prices Simultaneously.mp4
Videos/Python_From_Scratch/23_Videos/11. Plotting Bitcoin Prices as an Interactive Plot with a Range Tool.mp4
Videos/Python_From_Scratch/23_Videos/13. Plotting Bitcoin Prices as an Interactive Plot with Candlesticks.mp4
Videos/Python_From_Scratch/24_Videos/1. Installing pytest and Writing Your First Test.mp4
Videos/Python_From_Scratch/24_Videos/3. Running Multiple Tests. Test Discovery Rules in Action.mp4
Videos/Python_From_Scratch/24_Videos/5. Testing a Basic Script - Preparing the Test Bed.mp4
Videos/Python_From_Scratch/24_Videos/7. Fixture Functions.mp4
Videos/Python_From_Scratch/24_Videos/9. Sharing a Fixture Instance & Fixture Finalization.mp4
Videos/Python_From_Scratch/24_Videos/11. Parametrizing Fixtures.mp4
Videos/Python_From_Scratch/24_Videos/13. Marking Test Functions Using Attributes.mp4
Videos/Python_From_Scratch/24_Videos/15. Marking Test Functions Using Custom Markers.mp4
Videos/Python_From_Scratch/25_Videos/1. Installing the Necessary Modules.mp4
Videos/Python_From_Scratch/25_Videos/3. Extracting and Parsing Web Content.mp4
Videos/Python_From_Scratch/25_Videos/5. Tags, Names and Attributes.mp4
Videos/Python_From_Scratch/25_Videos/7. Searching the Tree of HTML Tags find() and find_all().mp4
Videos/Python_From_Scratch/25_Videos/9. APPLICATION - Extracting the Product Names, Links and Prices. Saving to Excel.mp4
Videos/Python_From_Scratch/25_Videos/11. APPLICATION - Handling Website Pagination When Extracting Data.mp4
